<li class="task memo">
  <input class="complete" type="checkbox" {{#if complete}}checked{{/if}} />
  <input class="description" type="text" placeholder="Enter task description..." {{#if description}}value={{description}}{{/if}} />
  <button class="delete-button">Delete</button>
</li>
