<div class="row task">
  <div class="small-12 columns">
    <div class="row collapse">
      <div class="small-2 columns text-center">
        <input class="complete right-label js-switch" type="checkbox" {{#if complete}}checked{{/if}} />
      </div>
      <div class="small-8 columns">
        <input class="description" type="text" placeholder="Enter task description..." {{#if description}}value="{{description}}"{{/if}} />
      </div>
      <div class="small-2 columns">
        <a href="#" class="delete-button button alert postfix">Delete</a>
      </div>
    </div>
  </div>
</div>
